@page
@* @model WebApp.Pages.AlbumsModel
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Web app</title>
  </head>
  <body>
  <h1>@Model.Heading1</h1>
  <p>
  @foreach (string album in Model.Albums)
  {
      @album<br>
  }
  </p>
  </body>
</html> *@

@functions
{
    public string DayName { get; set; }
    public void OnGet()
    {
        ViewData["Title"] = "Chinook Website";
        Model.DayName = DateTime.Now.ToString("dddd");
    }
}
<div class="jumbotron">
    <h1 class="display-3">Welcome to Chinook!</h1>
    <p class="lead">Music on vinyl - worldwide.</p>
    <hr />
    <p>It's @Model.DayName! We promise great value and service.</p>
    <p>
        <a class="btn btn-primary" href="albums">Learn more about our albums</a><br>
        <a class="btn btn-primary" href="artists">Learn more about our artists</a><br>
        <a class="btn btn-primary" href="tracks">Learn more about our tracks</a>

    </p>
</div>

<a asp-page="/Privacy">Privacy</a>
